body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* SIDER MAIN LAYOUT */
.ant-layout-sider {
  position: fixed !important;
  height: 100vh;
  z-index: 88;
}
.ant-layout-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: auto;
  line-height: 50px;
  box-shadow: 0px 1px 5px 0px #c9c9c9;
}
.ant-layout-sider-children {
  padding-top: 55px !important;
}
.ant-layout-has-sider .ant-layout-content {
  position: fixed !important;
  left: 200px;
  top: 50px;
  width: calc(100% - 200px);
  height: calc(100% - 70px);
  padding-bottom: 50px;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.5s;
}

.main-content > * {
  height: 100%;
  margin-top: 10px;
  padding-left: 30px;
}
.main__toggle {
  left: 70px !important;
  width: calc(100% - 70px) !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 70px !important;
  max-width: 70px !important;
  min-width: 70px !important;
  width: 70px !important;
}
